<div id="jsxc-window-list">
   <div id="jsxc-vcode-content">
      <div class="jsxc-vcode-input">
         <div class="connect-label">Enter the V-Code</div>
         <div class="vcode-input">
               <input type="text" value="12GSJ342DJDE"/>
               <button class="connect-btn">Connect</button>
         </div>
      </div>
      <div class="jsxc-user-vcode">
         <div class="connect-label">Your V-Code</div>
         <div class="user-vcode">
            12GSJ342DJDE
            <img src="../images/copy-blue.png">
         </div>
      </div>
   </div>
   <ul></ul>
</div>

</div>
<div id="jsxc-window-list-handler">
   <div class="jsxc-scrollLeft jsxc-disabled">&lt;</div>
   <div class="jsxc-scrollRight jsxc-disabled">&gt;</div>
</div>
