body.jsxc-fullscreen {
  overflow: hidden;

  #jsxc-roster {
    border: 0;
    width: 100%;
    z-index: 50;
  }

  #jsxc-window-list {
    clip: auto;
    z-index: 100;

    .jsxc-window-item {
      bottom: 0;
      height: auto;
      left: 0;
      margin: 0;
      position: fixed;
      right: 0;
      top: 0;
      width: auto;

      &.jsxc-minimized {
        display: none;
      }
    }

    .jsxc-window {
      background-color: #fff;
      border: 0;
      border-radius: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .jsxc-window-fade {
      bottom: 0;
      height: auto;
      left: 0;
      position: absolute;
      right: 0;
      top: 62px;
      width: auto;
    }
  }

  #jsxc-connection-pane {
    display: none;
  }

  .jsxc-menu__button {
    min-width: 42px;
    width: auto;
  }

  .jsxc-bar {
    height: 62px;
    width: auto;

    .jsxc-avatar-img, .jsxc-bar__caption {
      display: none;
    }

    &__action-entry {
      background-size: 1.4em;
      height: 62px;
      width: 42px;

      &.jsxc-close {
        font-size: 2.5em;
        line-height: 62px;
      }

      .jsxc-menu__more--light {
        background-size: 1.2em;
      }

      .jsxc-icon {
        min-width: 42px;
      }

      * {
        font-size: 1em;
      }
    }
  }

  .jsxc-chatmessage {
    margin: 0.2em 1.5em;

    &:first-child {
      margin-bottom: 2em;
    }

    &::after {
      content: none;
    }

    &__footer {
      padding-top: 0.8em;
    }

    &.jsxc-out {
      background-color: #ececec;
    }

    &.jsxc-in {
      background-color: var(--jsxc-message-bg);

      &.jsxc-light .jsxc-chatmessage__footer {
        color: #5d5d5d;
      }

      &.jsxc-dark .jsxc-chatmessage__footer {
        color: #ececec;
      }
    }

    &.jsxc-probably_out,
    &.jsxc-probably_in {
      border: 1px solid #dadada;
    }
  }

  .jsxc-send-area {
    padding: 0;
  }

  .jsxc-send-area {
    .jsxc-menu--emoticons,
    .jsxc-file-transfer,
    .jsxc-transfer {
      background-size: 1.8em;
      height: 62px;
      width: 62px;
    }

    .jsxc-transfer-icon {
      background-size: 1.8em;
      height: 62px;
    }
  }

  .jsxc-message-input {
    background-color: #ececec;
    border-radius: 2em;
    line-height: 1.4em;
    margin-right: 1em;
    padding: 0.6em 2em 0.4em;
  }

  .jsxc-highlight .jsxc-window-bar {
    background-color: $window-bar-bg;
  }

  .jsxc-roster-toggle {
    display: none;
  }

  #jsxc-roster>.jsxc-bottom li {
    height: 62px;
    line-height: 62px;
  }

  .jsxc-bar__action-entry {
    margin: 0 3px;
  }

  .jsxc-dialog-wrapper {
    background-color: #fff;
  }

  .jsxc-dialog {
    border: 0;
    min-width: auto;
    padding-top: 45px;
  }
}

#jsxc-window-list {
  #jsxc-vcode-content {
    display: none;
  }
}

body.jsxc-fullscreen.jsxc-two-columns {
  @media(min-width: 740px) {
    #jsxc-roster {
      width: 33%;
      right: 0px;
      .jsxc-contact-list-wrapper {
        background-color: #e9e9e9;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0 20px;
        
        .jsxc-bar {
          border-bottom: 1px solid #ccc;
    
          .jsxc-avatar-img {
            display: block;
            width: 36px;
            margin-right: 5px;
          }
      
          .jsxc-bar__caption {
            display: flex;
            justify-content: space-between;
            .jsxc-bar__left {
              width: 70%;
            }
            .jsxc-bar__right {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .jsxc-bar__date {
                font-size: 10px;
              }
              .jsxc-bar__unread {
                display: flex;
                justify-content: flex-end;
                .jsxc-bar__count {
                  font-size: 9px;
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  line-height: 19px;
                  background-color: #3cb678;
                  color: #ffffff;
                  text-align: center;
                }
              }
            }
          }
        }

        .jsxc-roster-tabs {
          display: flex;
          justify-content: center;
          position: fixed;
          bottom: 40px;
          width: calc(33% - 40px);
          .jsxc-tabs-container {
            width: 220px;
            background-color: #ffffff;
            display: flex;
            border-radius: 30px;
            .jsxc-tab {
              width: 110px;
              height: 40px;
              display: flex;
              align-items: center;
              justify-content: center;
              .jsxc-tab-img {
                width: 20px;
                margin-right: 5px;
              }
              .jsxc-tab-label {
                font-size: 14px;
              }
            }
            .jsxc-chat-tab {
              background-color: #005dff;
              color: #ffffff;
              border-radius: 30px;
            }
          }
        }
      }
    }

    #jsxc-window-list {
      background-color: #101f38;
      bottom: 0;
      left: 0;
      right: 33%;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      #jsxc-vcode-content {
        display: block !important;
        .connect-label {
          color: #ffffff;
          font-size: 16px;
          padding-bottom: 5px;
         }
        .jsxc-vcode-input {
          .vcode-input {
            display: flex;
            input {
              width: 100%;
              height: 35px;
              color: #ffffff;
              background-color: transparent;
              font-size: 14px;
              outline: none;
              border: none;
              border-bottom: 2px solid #ffffff;
            }
            input:focus {
                border-bottom-color: #3f6ebd;
            }
            .connect-btn {
              margin-left: 20px;
              height: 35px;
              width: 150px;
              color: #ffffff;
              border-radius: 8px;
              outline: none;
              border: none;
              background-color: #0f58d8;
              letter-spacing: 1px;
            }
          }
        }
        .jsxc-user-vcode {
          margin-top: 30px;
          .user-vcode {
            width: fit-content;
            background-color: #1f2f49;
            color: #ffffff;
            padding: 10px 20px;
            margin-top: 5px;
            border-radius: 6px;
            img {
              width: 20px;
              margin-left: 5px;
            }
          }
        }
      }

      // &::after {
      //   background-image: url("../images/jsxc_white.svg");
      //   background-position: center center;
      //   background-repeat: no-repeat;
      //   background-size: contain;
      //   bottom: 0;
      //   content: "";
      //   left: 0;
      //   opacity: 0.3;
      //   position: absolute;
      //   right: 0;
      //   top: 0;
      //   z-index: -1;
      // }

      .jsxc-window-item {
        right: 33%;
      }
    }
  }
}

.jsxc-omemo-device {
  box-shadow: 0 0 2px #a1a1a1;
  margin-bottom: 15px;
  padding: 10px;

  &[data-trust="unknown"] {
    border: 3px solid #f00;
  }

  &-id {
    font-size: 0.7em;
    opacity: 0.7;
  }

  &-last-used {
    float: right;
    font-size: 0.7em;
    opacity: 0.7;
  }

  &-trust {
    display: inline;

    &[data-trust="unknown"] {
      color: #f00;
    }

    &[data-trust="recognized"] {
      color: #ffa500;
    }

    &[data-trust="confirmed"] {
      color: #008000;
    }

    &[data-trust="ignored"] {
      color: #999;
    }
  }

  &-action {
    float: right;
  }
}
